.dashCardContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 15px;
    gap: 12px;
    width : 350px;
    box-shadow: 3px;
    

}

.dashContainer{
    display: flex;
    background: #f4f5f9;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    
   
    height: 100%;
    padding: 5px 10px;
}


 .plus{
    width: 25px;
    height: 25px;
   
}



 /* body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #f4f5f9;
}

.mainContainer {
    min-height: 100vh; /* Ensure the container spans the full viewport height */
   
