/* google font imported */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,600;1,600&family=Nunito:ital,wght@0,700;1,700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}



.p-10{
  padding: 4px 9px;
}

.f-16{
  font-size: 16px;
}


.color-grey{
  color: gray;
}

.flex-sb{
  display: flex;
  justify-content: space-between;
 
  align-items: center;
  
}

.flex-gap-10{
  
  
  gap: 10px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}



.relative{
  position: relative;
}

